.dropdown-menu {
    
    right: 0 !important;
    left: auto !important;
}


.counter.counter-lg {
    position: relative;
    top: -24px !important;
}

.nav-link {
    border-radius: 3rem;
}

.nav-link:hover {
    background-color: white !important;
    color: black !important;
}

.main-color {
    background-color: #0bd699;
}
